# Ambiente virtual
.venv/
.env


# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Dados (se não puderem ser versionados)
data/*
!data/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/outputs/*

# OS
.DS_Store
Thumbs.db

# CatBoost artifacts
notebooks/catboost_info/

