# ==========================
# Ambiente virtual / configs
# ==========================
.venv/
.env

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Dados (regra geral)
# ==========================
data/*
!data/.gitkeep

# ==========================
# Entregas do Desafio 01
# ==========================
!data/desafio_01/
!data/desafio_01/scored/
!data/desafio_01/scored/**

# ==========================
# Artefatos de modelos
# ==========================
**/catboost_info/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db
