# ==========================
# Ambiente virtual / configs
# ==========================
.venv/
.env

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Dados (não versionados)
# ==========================
data/*
!data/.gitkeep

# ==========================
# Artefatos de modelos
# ==========================
**/catboost_info/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db
